/* ---------------------- */
/* Setup */
/* ---------------------- */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap");

:root {
  font-family: "IBM Plex Mono", monospace;
  --text-color: #dad0c0;
  --bg-color: #2b2a5c;
  --accent-color: #ab5795;
  --tint-color: #7a72e5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.page-wrapper {
  width: 70%;
  margin: auto;
}

/* ---------------------- */
/* Header */
/* ---------------------- */

header {
  padding: 1rem;
  border-bottom: 2px solid var(--accent-color);
}

header img {
  width: 3rem;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

.logo {
  width: 3rem;
  height: 3rem;
  background-image: url("logo.svg");
  margin: auto;
  margin-bottom: 1rem;
}

.logo:hover {
  background-image: url("logo_white.svg");
}

header ul {
  font-weight: 500;
  text-align: center;
}

header li {
  display: inline;
  margin: 0 0.5rem;
}

header li a {
  padding: 0 0.5rem;
}

header li a:hover {
  background-color: var(--accent-color);
}

/* ---------------------- */
/* Main */
/* ---------------------- */

main {
  padding: 3rem 0;
}

.main-heading {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  border-bottom: 4px solid var(--accent-color);
  display: inline-block;
}

.sub-heading {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

/* ---------------------- */
/* Index */
/* ---------------------- */

.profile-pic {
  border-radius: 50%;
  background-image: url("falcon.png");
  background-position: center;
  background-size: cover;
  width: 6rem;
  height: 6rem;
  margin-bottom: 1rem;
  border: 4px solid var(--accent-color);
}

.greeting {
  font-size: 3rem;
}

.profession {
  opacity: 0.6;
  margin-bottom: 0.2rem;
}

.seperator {
  height: 4px;
  background-color: var(--accent-color);
  margin-bottom: 1.2rem;
}

/* ---------------------- */
/* About */
/* ---------------------- */

.experience {
  margin-bottom: 1.2rem;
}

.skill {
  padding: 0.6rem 0.2rem;
}

.skill-description {
  margin-bottom: 0.6rem;
}

.skill-level {
  height: 5px;
  background-color: var(--accent-color);
}

.skill-html {
  width: 85%;

  background-color: var(--tint-color);
}

.skill-css {
  width: 80%;
  background-color: #145e98;
}

.skill-js {
  width: 90%;
  background-color: #c8b029;
}

.skill-react {
  width: 95%;
  background-color: var(--accent-color);
}

/* ---------------------- */
/* Blog */
/* ---------------------- */

.post {
  color: var(--text-color);
  text-decoration: none;
  display: block;
  border: 1px solid var(--tint-color);
  padding: 1rem;
  margin-bottom: 1rem;
}

.post:hover {
  background-color: var(--tint-color);
}

/* ---------------------- */
/* Post */
/* ---------------------- */

.back-link {
  display: inline-block;
  margin-bottom: 1.6rem;
}

.back-link:hover {
  color: var(--tint-color);
}

.back-link:hover .back-arrow {
  color: var(--accent-color);
}
